{%extends 'home.html'%}
{%block title%}
        <title>Courses</title>
{%endblock%}
{%block a%}
    <h2>Course Details</h2>
    <table border="" width="100%">
        <tr>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Fees</th>
        </tr>
        <tr>
            <td>Python</td>
            <td>30 hours</td>
            <td>20000</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>50 hours</td>
            <td>30000</td>
        </tr>
        <tr>
            <td>Django</td>
            <td>30 hours</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>C++</td>
            <td>20 hours</td>
            <td>10000</td>
        </tr>
    </table>
{%endblock%}